.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    border: 3px #7fffd4 double;

    &__letterRed {
        color: #b33333;
    }

    &__letterBlue {
        color: #5f5fe8;
    }

    &__formHead {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
    }
}

.ulData {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: center;

    &__liQuote {
        background-color: #80808082;
    }

    &__liCharacter {
        background-color: #fa807265;
        font-weight: 600;
    }
}

.main {

    display: flex;
    flex-direction: column-reverse;
    padding: 20px 10px;
    border: 3px #663399 double;

&__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

&__title {
    text-align: center;
    color: #add8e6;
    padding: 5px;
    border: 2px dotted #add8e6;
}
}

label {
    padding: 5px;
    color: #663399;
    font-weight: 600;
}

input {
    border-radius: 5px;
    border: 1px solid #663399;
    padding: 5px;
}

.inputButton {
    margin-top: 10px;
    background-color: #66339952;
    cursor: pointer;
}

.inputButton:hover {
    background-color: #add8e6;
}